@model IEnumerable<Finance.Models.TipoDespesa>

@{
    ViewBag.Title = "Index";
}

<h2>Controle do Tipo de Despesa</h2>

<p>
    <button class="btn btn-success create" style="outline:none">Criar Despesa <i class="glyphicon glyphicon-open"></i></button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <button class="btn btn-danger delete" data-id="@item.Id" style="outline:none"><i class="glyphicon glyphicon-trash"></i></button>
                
            </td>
        </tr>
    }

</table>

<div id="modalType" class="modal fade" role="dialog" />

@section scripts{
    <script>
        $(function () {
            $(".delete").click(function () {
                var id = $(this).attr("data-id");
                /*alert(id);*/
                $("#modalType").load("TipoDespesas/Delete?id=" + id, function () {
                    $("#modalType").modal();
                })
            });
            $(".create").click(function () {
                $("#modalType").load("TipoDespesas/Create", function () {
                    $("#modalType").modal();
                })
            });
        })
    </script>
}
