@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <!--style="background: rgb(255, 216, 0)!important"-->
    <h1>Controle Financeiro</h1>
    <p class="lead">Uma aplicação beseada na sua gestão pessoal. Aqui você consegue ter controle da sua gestão financeira</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    @Html.ActionLink("Registre sua despesa", "Index", "Despesas", "", htmlAttributes: new { @class = "btn btn-primary btn-lg" })
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Crie uma despesa</h2>
        <p>
            É possível criar sua própria despesa. Clique no botão abaixo e comece criando um novo gasto!!
        </p>
        @*<p style="margin-top: 2em;"><a class="btn btn-default" onclick="PrimeiraDespesa()">Crie sua primeira despesa</a></p>*@
        @Html.ActionLink("Primeira Despesa", "Create", "Despesas", "", new { @class = "btn btn-default", style = "margin-top: 1em;" })
    </div>
    <div class="col-md-4">
        <h2>Consulte suas despesas</h2>
        <p>Consulte aqui a sua lista de despesas. Com o registro dos seus gastos mensais, é possível ter um controle mais específico do seu gasto mensal</p>
        @Html.ActionLink("Registre sua despesa", "Index", "Despesas", "", htmlAttributes: new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>Consulte sua receita</h2>
        <p>Com o registro da sua receita, é possível ter um controle mais exato da sua gestão financeira</p>
        @Html.ActionLink("Registre sua despesa", "Index", "Receitas", "", htmlAttributes: new { @class = "btn btn-default ", style = "margin-top: 1em;" })
    </div>
</div>

<script>
</script>